* {
    margin : 0;
    padding:0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


/*  la balise body est le conteneur principal
     flexbox dont les enfants s'afficheront sur une colonne
     flex-direction : column;
*/     

body{
    display : flex;
    flex-direction:column;
    
    
} 



.epreuve__article {
    display: flex;
  flex-direction: column;
}
/*
opérateur de sélection « > » permet de sélectionner
 l'enfant direct de la balise qui précède le «>»
 La différence entre « > » et « » c'est que plus grand permet de sélectionner
 l'enfant direct et « » permet de sélectionner l'enfant l'arrière petite enfant et ainsi de suite.

 Le « > » est plus spécifique que l'aopérateur « »
*/

/*
 C'est toujours le dernier élément de la suite qui est sélectionné. 
 Et c'est sur cet élément qu'on applique la règle de style
*/
body  > div {
    display : flex;
    justify-content: center;
 
}


.recherche{
    margin: 50px;
}
#entete{
    display: flex;
    font-family: 'Titan One', sans-serif;
    z-index: 10;
}
#entete__logo{
   width: 166px;
   height: 132px;
   
}
.accueil{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#galerie{
   
background-color: rgba(240, 255, 255, 0);

}
.images{
display: flex;
flex-direction:column;
justify-content: space-between;
}
.video{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    color:aqua;
}
body > div > section,
body > div > footer,
body > div > header {
    display : flex;
    flex: 0 1 1100px;
   
    background-color: rgba(0, 0, 0, 0.295); /* filtre de transparence */
}

body > div > section {
    padding-top : 100px;
}

body > div > header{
    position : relative;
}

body > div > section{
    min-height : 100vh;
}
/* Entete */
body>div:nth-of-type(1){
    background-color: rgb(245, 245, 220);
    position : sticky;
    top : 0;
}
body>div:nth-of-type(2){
    background-color: rgba(236, 236, 175, 0);
  background-image: url("../images/ImageJeu.png");
}
body>div:nth-of-type(3){
    background-color: rgba(171, 216, 205, 0.281);
    background-image: url("../images/VoitureDansLeJeu.jpg");
}
body>div:nth-of-type(4){
    background-color: rgba(153, 154, 128, 0);
    background-image: url("../images/AvionQuiVoleJeu.webp");
}
body>div:nth-of-type(5){
    background-color: rgba(34, 34, 30, 0);
    background-image: url("../images/   PolicierDansLeJeu.jpg");
}

    #inscription{
background-color: rgba(255, 228, 196, 0);
background-image: url("../images/ImagePersonnageJeu.jpg");
    }
    
    

    #video{

        background-image: url("../images/MissionDansLeJeu.webp");

    }

    #articles{
        background-image: url("../images/PolicierDansLeJeu.jpg");
    }


    table{
        border-collapse: collapse;
    }
    
    
    
    td , th ,table{
        border: 1px solid #00000000;
    }
    
    
    td,th{
        padding: 4px;
        font-size: 2rem;
        background-color: #e7770fe8;
    }
    
    td{
    background-color: #00cafc49;
    color: rgb(255, 153, 0);
    }
    
    
    
    
    .cours{
        border: 1px solid #aaaaaa;
        background-color: rgba(0, 0, 0, 0.349);
    }
    
    
    th{
        background-color: white;
        font-family: 'Agbalumo',sans-serif; 
    }
    



    #contact{

        background-color: black;
        padding: 100px;

    }


h1 {
    font-family: "Rubik Doodle Shadow";
    font-size: 50px;
}


footer{ color: white;
    background-color: black;
margin-top: 0px ;
height: 277px;
padding: 0px 50px 40px 40px;

}
footer section{
    margin: 0 0 0 0;
display: inline-block;
vertical-align: top;
width: 33%;
text-align:left;
padding-top: 45px;
margin-top: 10px;
}
.pied{
    margin-top: 35px;
}